body {background-color: #E5E6E4}
.header-h1 {color: rgb(153, 136, 126);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
 .header-h2 {color: rgb(204, 131, 123);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .article-plum {color: #764248;font-family: 'Courier New', Courier, monospace;}
    .section-light-plum {color: #9c686e; font-family: 'Courier New', Courier, monospace;}
   
   
   
    nav a {color: rgb(173, 121, 147);}
    a {color: rgb(145, 87, 96);}
    .p-style {color:rgb(204, 131, 123) ;}
  